##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

##########################################
# Custom - Code Analyzers Rules
##########################################
dotnet_diagnostic.CA1034.severity = none            # Allow nested types
dotnet_diagnostic.SA1201.severity = none            # Allow nested types before other class members
dotnet_diagnostic.CA2007.severity = none            # ConfigureAwait optimization is not necessary in samples
dotnet_diagnostic.CA1303.severity = none            # CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1050.severity = none            # CA1050: Declare types in namespaces